<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="use_localization" default="true"/>

    <include file="$(find smb)/launch/smb.launch"/>
    <include file="$(find smb_msf_graph)/launch/smb_msf_graph.launch">
    <arg name="use_localization" value="$(arg use_localization)"/>
    <arg name="map_saving_folder"     default="$(find smb_challenge)/data/maps/" doc="Path for saving the map"/>
    <arg name="pcd_file_path"         default="$(find smb_challenge)/data/maps/map_challenge_final.pcd"/>
    <arg name="loop_closure" default="true" doc="Loop closure"/>

    <arg name="core_graph_config_param_file"  default="$(find smb_challenge)/config/core/core_graph_config.yaml"/>
    <arg name="core_graph_param_file"         default="$(find smb_challenge)/config/core/core_graph_params.yaml"/>
    <arg name="core_extrinsic_param_file"     default="$(find smb_challenge)/config/core/core_extrinsic_params.yaml"/>
    <arg name="smb_graph_param_file"          default="$(find smb_challenge)/config/smb_specific/smb_graph_params.yaml"/>
    <arg name="smb_extrinsic_param_file"      default="$(find smb_challenge)/config/smb_specific/smb_extrinsic_params.yaml"/>

    </include>

    <include file="$(find object_detection)/launch/object_detection.launch">
        <arg name="object_detection_classes" 
        value="[24,25,39,56,74,11]"/>
    </include>

    <node machine="$(arg smb_challenge)" name="camera2detection_frame_node" pkg="smb_challenge" type="c2w.py" output="screen">

    <!-- <include file="$(find smb_navigation)/launch/navigate2d_ompl.launch">
        <arg name="global_frame" value="world_graph_msf"/>
        <arg name="map_frame" value="map_graph_msf"/>
        <arg name="odom_topic" value="/graph_msf/est_odometry_odom_imu"/>
        <arg name="use_global_map" value="true"/>
        <arg name="follow_waypoints" value="true"/>
    </include> -->

</launch>

